.title {
  font-size: 55px;
  font-family: var(--font-family);
  width: 100%;
  text-align: center;
  background: -webkit-linear-gradient(#0059b3, #009933);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.books_container {
  display: flex;
  flex-wrap: wrap;
}

.nomatch_title {
  width: 100%;
  margin: 30px;
  text-align: center;
  color: lightgray;
  font-family: var(--additional-font-family);
}
